[class^="grid-"],
[class*=" grid-"] {
  // --_grid-gap: var(--space-400);

  display: grid;
  gap: var(--_grid-gap, var(--space-400));
}

// creates a grid with even columns
.grid-even-columns {
  // --_min-column-width: calc(10 * var(--space-400));

  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(var(--_min-column-width, calc(10 * var(--space-400))), 100%),
      1fr
    )
  );
}

// creates a grid that at 50em automatically creates columns for each item
@media (min-width: 50em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
  }
}

// allows to stack a div over an image; the image is set as background-image but in the DOM
.grid-stack > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-stack > img {
  aspect-ratio: initial;
  z-index: -1;
}
