[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::after {
  display: inline-block;
  color: inherit;
  font-family: var(--ff-icons) !important;
  font-size: inherit;
  font-weight: var(--fw-400);
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: text-bottom;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
